body.theme-default {
    --primary-100: #ffffff;
    --secondary-100: #ffffff;
    --background-100: #ffffff;
    --semantic-100: #ffffff;
    --accent-100: #ffffff;
    --shade-100: #ffffff;
    
    --text-sm: 14px;
    --text-md: 16px;
    --text-lg: 20px;
    --text-xl: 24px;
    
    @font-face {
        font-family: font-regular-100;
        src: url(../../fonts/Poppins/regular/100.ttf)
    }

    @font-face {
        font-family: font-regular-200;
        src: url(../../fonts/Poppins/regular/200.ttf)
    }

    @font-face {
        font-family: font-regular-300;
        src: url(../../fonts/Poppins/regular/300.ttf)
    }

    @font-face {
        font-family: font-regular-400;
        src: url(../../fonts/Poppins/regular/400.ttf)
    }

    @font-face {
        font-family: font-regular-500;
        src: url(../../fonts/Poppins/regular/500.ttf)
    }

    @font-face {
        font-family: font-regular-600;
        src: url(../../fonts/Poppins/regular/600.ttf)
    }

    @font-face {
        font-family: font-regular-700;
        src: url(../../fonts/Poppins/regular/700.ttf)
    }

    @font-face {
        font-family: font-regular-800;
        src: url(../../fonts/Poppins/regular/800.ttf)
    }

    @font-face {
        font-family: font-regular-900;
        src: url(../../fonts/Poppins/regular/900.ttf)
    }

    @font-face {
        font-family: font-italic-100;
        src: url(../../fonts/Poppins/italic/100.ttf)
    }

    @font-face {
        font-family: font-italic-200;
        src: url(../../fonts/Poppins/italic/200.ttf)
    }

    @font-face {
        font-family: font-italic-300;
        src: url(../../fonts/Poppins/italic/300.ttf)
    }

    @font-face {
        font-family: font-italic-400;
        src: url(../../fonts/Poppins/italic/400.ttf)
    }

    @font-face {
        font-family: font-italic-500;
        src: url(../../fonts/Poppins/italic/500.ttf)
    }

    @font-face {
        font-family: font-italic-600;
        src: url(../../fonts/Poppins/italic/600.ttf)
    }

    @font-face {
        font-family: font-italic-700;
        src: url(../../fonts/Poppins/italic/700.ttf)
    }

    @font-face {
        font-family: font-italic-800;
        src: url(../../fonts/Poppins/italic/800.ttf)
    }

    @font-face {
        font-family: font-italic-900;
        src: url(../../fonts/Poppins/italic/900.ttf)
    }
}