.font-regular-100 {
    font-family: font-regular-100;
}

.font-regular-200 {
    font-family: font-regular-200;
}

.font-regular-300 {
    font-family: font-regular-300;
}

.font-regular-400 {
    font-family: font-regular-400;
}

.font-regular-500 {
    font-family: font-regular-500;
}

.font-regular-600 {
    font-family: font-regular-600;
}

.font-regular-700 {
    font-family: font-regular-700;
}

.font-regular-800 {
    font-family: font-regular-800;
}

.font-regular-900 {
    font-family: font-regular-900;
}


.font-italic-100 {
    font-family: font-italic-100;
}

.font-italic-200 {
    font-family: font-italic-200;
}

.font-italic-300 {
    font-family: font-italic-300;
}

.font-italic-400 {
    font-family: font-italic-400;
}

.font-italic-500 {
    font-family: font-italic-500;
}

.font-italic-600 {
    font-family: font-italic-600;
}

.font-italic-700 {
    font-family: font-italic-700;
}

.font-italic-800 {
    font-family: font-italic-800;
}

.font-italic-900 {
    font-family: font-italic-900;
}

